@import "../../assets/styles/variables.scss";

// https://digipress.info/tech/pure-css-flexbox-masonry-sample/
// https://qiita.com/QUANON/items/e14949abab3711ca8646
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: -$margin-size-1;
}

.imageContainer {
  width: 30%;
  margin-right: 5%;

  &:nth-child(3n) {
    margin-right: 0;
  }

  padding-bottom: $margin-size-1;
}

.image {
  width: 100%;
  border-radius: 8px;
}

.title {
  font-weight: bold;
}
