@import "../../assets/styles/variables.scss";

.container {
  padding: $margin-size-1 * 3;
  border-bottom: 1px solid $color-border;
  overflow: hidden;

  &:last-child {
    border-bottom: none;
  }
}

.title {
  @include font-accent;

  margin: 0;
}

.title,
.description {
  margin-bottom: $margin-size-1;
}
